.eventWrapper, .eventWrapperMobile {
  display: flex;
}

.eventWrapperMobile{
  flex-direction: column;
}

.eventBtn,
.eventBtnActive {
  color: #000;
  border: none;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  cursor: pointer;
  border: 1px solid #8665f7;
  margin: 0 20px 5px 0;
}

.eventBtn:hover {
  background-color: #5454dd;
  transition: 0.7s;
  color: #fff;
}

.createEventBtn {
  background-color: #5454dd;
  color: #fff;
  border: none;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  cursor: pointer;
  margin-bottom: 5px;
}

.createEventBtn:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.eventBtnActive {
  background: #5454dd;
  color: #fff;
}

.eventBtnActive:hover {
  background-color: #5454dd;
  transition: 0.7s;
  color: #fff;
}
