.fieldWrapper,
.fieldWrapperMobile {
  display: flex;
}

.fieldWrapperMobile {
  flex-direction: column;
}

.leftSide {
  width: 30%;
}

.lefSideMobile{
    width: 100%;
}

.rightSide {
  width: 65%;
}

.rightSideMobile{
    width: 100%;
}

.field {
  margin-bottom: 10px;
}

.selectionPicker {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.datePicker,
.selectPicker,
.select {
  width: 48%;
}
