.Weather-Wrapper {
  padding: 10px 20px;
  background: #ebe5ff;
  border-radius: 10px;
  margin-top: 25px;
}
.Weather-Temp{
    text-align: center;
    font-size: 30px;
}

.Weather-Icon{
  width: 15%;
}

.Weather-Description{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.Weather-Min-Max-Table {
    display: flex;
    justify-content: space-between;
}

.Weather-Spinner {
  display: flex;
  justify-content: center;
}

.ant-spin-dot-item {
  background-color: #8665f7 !important;
}
