.tableBox {
  margin: 50px auto;
}

.tableHead {
  background: #8665f7 !important;
  box-shadow: none !important;
  color: #fff !important;
  font-weight: 600;
}

.tableHead .tableCell {
  border-right: none;
}

.tableCell {
  display: table-cell;
  width: 15%;
  text-align: center;
  padding: 4px 5px;
  border-right: 1px solid #d6d4d4;
  vertical-align: middle;
  word-break: break-word;
}

.tableCell p {
  margin-bottom: 0px;
}

.tableCell:last-child {
  border-right: none;
}

.tableCell:first-child {
  cursor: pointer;
}

.tableCellImage {
  width: 35%;
}

.tableRow,
.tableHead {
  display: table;
  width: 100%;
  margin: 10px auto;
  font-family: sans-serif;
  background: transparent;
  padding: 12px 0;
  color: #555;
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}

.tableRow:hover {
  background: #ebe5ff;
}

.antTag {
  width: 100px;
}

.statusCellWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.statusCell {
}

.buttonsWrapper {
}

.deleteBtn {
  cursor: pointer;
  margin-bottom: 5px;
}

.editBtn {
  cursor: pointer;
  margin-top: 5px;
}
